# Sharing on google drive leaves Icon? files all over the place
#   that git dies on, execute the following bash line from the
#   git shell
#
# > find . -name "Icon*" -type f -delete
#
.Rproj.user
.Rhistory
.RData
.Ruserdata
Icon*
LGDA.Rmd
LGDA_files*
.DS_Store
_book*
*-figure/
*.md
*_Slides.html
*.html
*[Conflict]
