
.hanging {
  padding-left: 22px;
  text-indent: -22px;
}


blockquote {
  font: 28px/32px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  background-color: #ffffd4;
  padding: 8px;
  border-left: 3px solid #e1cc89;
  border-right: 1px solid #e1cc89;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
} 

li {
  padding-top: 1em;
}
